body {
  margin: 0;
  padding: 0;
  background: url(images/pexels-wouter-de-jong-571169.jpg)  no-repeat center
    fixed ;
  background-size: cover;
  width: 100%;
  margin: auto;
  
}
  


/* #bloc_page{
  margin: auto;
  width: 100%;
  
} */

header {
  width: 100%;
  margin: auto;
  background: black;
  box-shadow: 0px 6px rgb(237, 235, 235);
}
h1 {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  color: azure;
}
#container h5 {
  margin-left: 10px;
}
#container p {
  margin-left: 5px;
}
ul {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 6px;
  list-style: none;
}
ul li strong a{
  margin-left: -20px;
}
li a {
 margin-right: 30px;
}

a {
  text-decoration: none;
  color: azure;
  list-style: none;
  position: relative;
  bottom: 10px;
}
#container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding-top: 10px;
}
#container_page_produit img {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  /* height: 300px; */
  object-fit: cover;
  margin-top: 20px;
}



#container .appareil_1,
.appareil_2,
.appareil_3,
.appareil_4,
.appareil_5 {
  /* height: 100px; */
  margin: auto;
  background: #dfe0e0;
  margin: 10px;
  box-shadow: 2px 2px rgb(45 30 30);
  /* width: 100%; */
}
/*--------------------------- PAGE PRODUIT---------------------------*/
.option {
  background: #faebd7cf;
  padding-top: 10px;
  width: 80%;
  margin: auto;
  /* margin-top: 20px; */
}
#container_page_produit h5,
.description_produit,
.prixProduit,
label,
select {
  display: flex;
  justify-content: center;
  margin: auto;
  color: black;
  margin-top: 10px;
}

#container_page_produit .description_produit {
  width: 80%;
}
#btn{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 22px;
}
#container .prix, .name, .description_appareil{
  color: black;
  margin-left: 10px;
}
#write_produit{
 
 background:#dfe0e0 ;
 width: 80%;
 margin: auto;
 padding-top: 10px;
 padding-bottom: 10px;
}


/* STYLE POUR PAGE PANIER */

#produitChoisi{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.choixProduit img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  /* height: 300px; */
  object-fit: cover;
  margin-top: 20px;
  border-style: groove;
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}
p.lentilles,.choixProduit .prixProduit,.choixProduit h5,h3 {
  display: flex;
  width: 68%;
  justify-content: center;
  margin: auto;
}
.instruction,
.suite_instruction {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: large;
  width: max-content;
  flex-wrap: wrap;
}
.suite_instruction {
  margin-top: -30px;
}
.instruction {
  margin-top: 10px;
}

#paiement .formulaire,
h3,
.form_group,
a {
  margin-top: 40px;
}

#bouton{
  background: #faebd780;
  border: 0.01px ridge;
  
  
  
  /* border-style: ridge; */

  
   /* padding: 2px 0px 2px 74px;  */
    
    /* width: max-content; */
    /* margin: auto; */
}

#paiement form {
  background: #faebd78c;
  border-style: ridge;
}

/* ----------Style PAge confirmation commande------------------ */
#container_commande{
  
  border: 2px solid brown;
  margin: auto;
  margin-top: 20px;
  width: 75%;
  height: 50vh;
}

@media (min-width: 1024px) {
  
  /*----------------------------PAGE INDEX------------------------*/
  #container .appareil_1,
  .appareil_2,
  .appareil_3,
  .appareil_4 ,.appareil_5{
    /* width: 100%;
        margin: auto; */
    margin-top: 10px;
    /* height: 200px; */
  
  }
  #container .appareil_5 {
    /* width: 100%;   
        margin: auto; */
    margin-top: 10px;
    /* height: 200px; */
    /* margin-left: 12.5%; */
  }
  .un_deux_trois {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  /*------------------------PAGE PRODUIT-----------------------------*/
  
/* 
  #container_page_produit img {
    height: 42vh;
    width: 75%;
  } */
  /* #container_page_produit .description_produit {
    margin-top: 112px;
    width: 51%;
    /* margin-left: 270px; */
    /* display: flex;
    justify-content: center;
    margin: auto;
  } */ 
  /* #container_page_produit label {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 220px;
  } */


 
  #container .appareil_1,
  .appareil_2,
  .appareil_3,
  .appareil_4,
  .appareil_5 {
    width: 43%;
    /* height: 200px; */
   
  }
    .un_deux_trois {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 75px;
  } 
  .quatre_cinq {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
    margin-top: 100px;
  } 

@media (min-width: 1440px){
  /* STYLE POUR PAGE PANIER */

#produitChoisi{
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
  margin: auto;
}
}
}