body{
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    
   
   
}

header{
    width: 100%;
    margin: auto;
    background: black;
    box-shadow: 0px 4px rgb(237, 235, 235);

}
h1{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content:center;
    color: azure;
    

}
ul{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 6px;
}
.panier{
    margin-right: 10px;
}
.index{
    position: relative;
    right: 30px;
}

a{
    text-decoration: none;
    color: black;
    color: azure;
    list-style: none;
    

}
img{
 width: 100%;
 height: 150px;
 
}

.appareil_1,.appareil_2,.appareil_3,.appareil_4,.appareil_5{
    
    height: 100px;
    margin: auto;
    background:#6a6f6f;
    margin: 10px;
}


@media (min-width:768px) {
    .appareil_1,.appareil_2,.appareil_3,.appareil_4{
        width: 75%;
        height: 200px;
    }
    .appareil_5{
        width: 75%;
        margin-left: 12.5%;

    }
    .un_deux,.trois_quatre{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}
    

